success-message{
	color: #46b450;
}
.p-10{
	padding: 10px !important;
}
#changecrab-admin-form{
	
}

.changecrabtop {
	border-top: 5px solid #6c61b0;
	background-color: #1f2937;
	border-radius:3px; 
	
}

.crabwrap {
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.changecrabtop img {
	height:48px; 
	margin:15px;
}

.lead {
	    margin: 0px;
    padding: 10px;
    background-color: #fbfbfb;
    border: 1px solid #e0e6ee;
}

.form-group  {
	padding:15px; 
}

.bar {
		    padding: 7px;
    font-weight: bold;
	    border-radius: 5px;
}

.errorbar {

    border: 1px solid #ffc4c4;
    background-color: #b92929;
    color: #fff;

}

.crabbg { 
background-color:#fff; 
}

.changefooter {
	padding:8px; 
	background-color: rgb(249, 250, 251);
	padding-top:14px;
	padding-bottom:14px;
border-bottom-color: rgb(229, 231, 235)
}

.changebutton {
	align-items: center;
	appearance: button;
	background-color: rgb(108, 97, 176);
	background-image: none;
	border-bottom-color: rgba(0, 0, 0, 0);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	
	border-bottom-style: solid;
	border-bottom-width: 0.916667px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgba(0, 0, 0, 0);
	border-left-style: solid;
	border-left-width: 0.916667px;
	border-right-color: rgba(0, 0, 0, 0);
	border-right-style: solid;
	border-right-width: 0.916667px;
	border-top-color: rgba(0, 0, 0, 0);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 0.916667px;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: flex;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 0px;
	margin-left: 12px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	font-weight:bold;
	padding-top: 8px;
	text-transform: none;
}